## Organizing Steps of Recommendation system in Classes and Function

In [2]:
from pymongo import MongoClient 
import pandas as pd
import sys
import numpy as np

from surprise import NormalPredictor
from surprise import Dataset
from surprise import Reader
from surprise.model_selection import cross_validate
from surprise import KNNBasic

In [3]:
import datetime

In [4]:
class RecSysClass:
    
    def read(self):
        
        conn = MongoClient('192.168.1.72', 27017) 
        mydb = conn.SK
        collection1 = mydb.OrderMaster
        df1 = pd.DataFrame(list(collection1.find({},{"Skcode":1,"orderDetails":1,"_id":0})))
        return df1
    
    def ExtractItemid(self,df1):
        df1["item"] = [[i[j]['ItemId'] for j in range(len(i))] for i in df1['orderDetails']]
        df1 = df1[['Skcode','item']]
        df2 = df1.explode('item')
        return df2
        
    def Clean(self,df):
        df1 = df.drop_duplicates()
        df2 = df1.dropna()
        return df2
        
    def AddRating (self,df):
        df['rating'] = df.apply(lambda _: '1', axis=1)
        df['rating'] = df['rating'].astype(int)
        return df

    def RenameColumns(self,df):
        df.columns = ['userID','itemID', 'rating']
        return df
        
    def CalculateFrequency(self,df):
        a=df.groupby('itemID')['rating'].apply(list)
        b = a.to_frame()
        c = b.copy()
        c['frequency']  = [sum(i) for i in c['rating']]
        c1 = c.reset_index()
        c1
      
    
    def CalculateFrequency1(self):
        today = datetime.datetime.today()
        dlower = today - datetime.timedelta(days=30)

        conn = MongoClient('192.168.1.72', 27017)
        mydb = conn.SK
        collection1 = mydb.OrderMaster
        df = pd.DataFrame(list(collection1.find({"OrderDate":{'$lt': today, '$gte': dlower}},{"Skcode":1,"WarehouseId":1,"orderDetails":1,"OrderDate":1})))

        extractdf = RecSysClass().ExtractItemid(df)
        extractdf['rating'] = extractdf.apply(lambda _: '1', axis=1)
        extractdf['rating'] = extractdf['rating'].astype(int)

        a=extractdf.groupby('item')['rating'].apply(list)
        b = a.to_frame()
        c = b.copy()
        c['frequency']  = [sum(i) for i in c['rating']]
        c1 = c.reset_index()
        freq_dict = {}
        litemid = list(c1['item'])
        lfrequency = list(c1['frequency'])
        freqdict = dict(zip(litemid,lfrequency))
        return freqdict
    

    def CosineSimilarityMatrix(self,df):
        temp = []
        reader = Reader(rating_scale=(1, 5))
        data = Dataset.load_from_df(df[['userID', 'itemID', 'rating']], reader)
        k = 10
        trainSet = data.build_full_trainset()
        sim_options = {'name': 'cosine',
                       'user_based': False
                       }
        model = KNNBasic(sim_options=sim_options)
        model.fit(trainSet)
        simsMatrix = model.compute_similarities()
        lc = list(trainSet._raw2inner_id_items)
        #df = pd.DataFrame(simsMatrix , columns = lc, index = lc)     
        ltuple = (simsMatrix,lc)
        return ltuple

    def finalfreq(self,ltup):
        lfreqfinal = {}
        lfreq = RecSysClass().CalculateFrequency1()
        ke = list(lfreq.keys())
        for i in ltup[1]:
            if (i in ke):
                lfreqfinal[i]=lfreq[i]
            else:
                lfreqfinal[i] = 1
        return lfreqfinal
    
    def insertdata(self,df):
        data_dict = df.to_dict('records')
        
        conn = MongoClient('192.168.1.101', 27017) 
        mydb = conn.ML
        collection = mydb.RecSysItem
        collection.remove() 
        collection.insert_many(data_dict)

In [5]:
%time df1 = RecSysClass().read()

Wall time: 39.8 s

In [6]:
%time df2 = RecSysClass().ExtractItemid(df1)

Wall time: 1.6 s

In [7]:
%time df3 = RecSysClass().Clean(df2)

Wall time: 438 ms

In [8]:
#freq = RecSysClass().CalculateFrequency1()

In [9]:
%time df4 = RecSysClass().AddRating(df3)

Wall time: 2.03 s

In [10]:
%time df5 = RecSysClass().RenameColumns(df4)

Wall time: 998 µs

In [11]:
%time ltup = RecSysClass().CosineSimilarityMatrix(df5)

Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Wall time: 41.4 s

In [12]:
finalfreq = RecSysClass().finalfreq(ltup)

In [13]:
SimMat = ltup[0]

In [14]:
lv = list(finalfreq.values())

In [15]:
lc = list(finalfreq.keys())

In [16]:
SimMat1 = lv * SimMat

In [22]:
df_final = pd.DataFrame(SimMat1, columns = lc , index = lc)

In [23]:
df_final

,1576,923,933,1197,1784,481,4315,3961,3960,1464,...,15990,178227,135060,329351,208517,272123,10294,225658,212850,304302
1576,1.0,3.0,1.0,4.0,2.0,1.0,1.0,1.0,1.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
923,1.0,3.0,1.0,4.0,2.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
933,1.0,3.0,1.0,4.0,2.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1197,1.0,3.0,1.0,4.0,2.0,1.0,1.0,1.0,1.0,8.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1784,1.0,3.0,1.0,4.0,2.0,1.0,1.0,1.0,1.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272123,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
10294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
225658,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
212850,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
304302,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [24]:
df_columns = df_final.columns.astype(str)

In [26]:
lcolumn = list(df_columns)

In [28]:
df1 = pd.DataFrame(df_final.values , columns = lcolumn , index = lcolumn)

In [30]:
df1.reset_index(inplace=True,drop = True)

In [31]:
lcolumn = [int(i) for i in lcolumn]

In [33]:
df1.insert(0,"itemid",lcolumn)

In [34]:
df1

,itemid,1576,923,933,1197,1784,481,4315,3961,3960,...,15990,178227,135060,329351,208517,272123,10294,225658,212850,304302
0,1576,1.0,3.0,1.0,4.0,2.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,923,1.0,3.0,1.0,4.0,2.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,933,1.0,3.0,1.0,4.0,2.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1197,1.0,3.0,1.0,4.0,2.0,1.0,1.0,1.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1784,1.0,3.0,1.0,4.0,2.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14786,272123,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
14787,10294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
14788,225658,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
14789,212850,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
14790,304302,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [35]:
%time RecSysClass().insertdata(df1)

C:\Users\Ankit\Anaconda3\lib\site-packages\ipykernel_launcher.py:99: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.

Wall time: 7min 57s

In [67]:
#lfreq

In [69]:
lfreqfinal[625]

15

In [36]:
v = RecSysClass().CalculateFrequency1()

In [29]:
today = datetime.datetime.today()
dlower = today - datetime.timedelta(days=30)

conn = MongoClient('192.168.1.72', 27017)
mydb = conn.SK
collection1 = mydb.OrderMaster
df = pd.DataFrame(list(collection1.find({"OrderDate":{'$lt': today, '$gte': dlower}},{"Skcode":1,"WarehouseId":1,"orderDetails":1,"OrderDate":1})))


extractdf = RecSysClass().ExtractItemid(df)
extractdf['rating'] = extractdf.apply(lambda _: '1', axis=1)
extractdf['rating'] = extractdf['rating'].astype(int)


a=extractdf.groupby('item')['rating'].apply(list)
b = a.to_frame()
c = b.copy()
c['frequency']  = [sum(i) for i in c['rating']]
c1 = c.reset_index()
freq_dict = {}
litemid = list(c1['item'])
lfrequency = list(c1['frequency'])
freqdict = dict(zip(litemid,lfrequency))

In [30]:
freqdict

{23: 1,
 138: 5,
 139: 2,
 140: 2,
 144: 2,
 145: 2,
 146: 1,
 148: 1,
 161: 1,
 162: 3,
 164: 19,
 165: 10,
 181: 6,
 182: 1,
 187: 3,
 192: 1,
 193: 1,
 195: 1,
 196: 1,
 197: 2,
 200: 2,
 201: 4,
 202: 2,
 205: 10,
 206: 4,
 207: 4,
 208: 6,
 209: 5,
 210: 4,
 416: 1,
 434: 1,
 435: 2,
 436: 3,
 445: 1,
 479: 6,
 480: 15,
 482: 13,
 483: 8,
 509: 1,
 515: 1,
 517: 1,
 519: 5,
 521: 8,
 522: 3,
 523: 3,
 526: 2,
 527: 17,
 528: 6,
 538: 5,
 540: 2,
 541: 3,
 542: 1,
 544: 7,
 545: 5,
 556: 1,
 557: 5,
 559: 1,
 572: 2,
 573: 5,
 575: 1,
 577: 1,
 585: 10,
 593: 7,
 597: 2,
 607: 1,
 622: 2,
 625: 13,
 626: 3,
 642: 2,
 644: 1,
 650: 1,
 664: 1,
 668: 2,
 669: 3,
 725: 1,
 728: 10,
 729: 4,
 730: 1,
 732: 1,
 762: 3,
 763: 3,
 764: 5,
 767: 8,
 768: 10,
 769: 3,
 772: 1,
 774: 3,
 786: 1,
 789: 1,
 795: 2,
 821: 4,
 822: 7,
 823: 1,
 824: 2,
 825: 1,
 903: 2,
 904: 4,
 905: 5,
 908: 8,
 911: 15,
 923: 2,
 926: 3,
 927: 1,
 930: 1,
 931: 5,
 932: 4,
 1008: 1,
 1106: 1,
 1107: 3,
 1108: 1,
 1111: 2,
 1112: 2,
 1119: 1,
 1121: 1,
 1144: 5,
 1146: 10,
 1157: 1,
 1164: 1,
 1175: 3,
 1177: 1,
 1178: 1,
 1183: 1,
 1185: 1,
 1186: 2,
 1188: 1,
 1189: 1,
 1196: 12,
 1197: 13,
 1198: 2,
 1199: 9,
 1202: 2,
 1218: 5,
 1219: 8,
 1222: 1,
 1235: 1,
 1237: 3,
 1240: 1,
 1241: 12,
 1243: 1,
 1254: 3,
 1256: 3,
 1263: 3,
 1293: 12,
 1295: 1,
 1299: 2,
 1310: 1,
 1331: 1,
 1355: 2,
 1360: 4,
 1362: 12,
 1364: 3,
 1365: 4,
 1367: 2,
 1394: 11,
 1395: 16,
 1397: 8,
 1399: 28,
 1401: 18,
 1421: 1,
 1424: 1,
 1426: 2,
 1427: 6,
 1428: 3,
 1435: 12,
 1437: 2,
 1439: 4,
 1440: 2,
 1441: 3,
 1444: 6,
 1445: 1,
 1450: 3,
 1451: 3,
 1452: 1,
 1453: 7,
 1461: 1,
 1462: 1,
 1464: 14,
 1465: 2,
 1469: 1,
 1471: 1,
 1476: 5,
 1479: 1,
 1480: 6,
 1481: 3,
 1488: 1,
 1489: 2,
 1490: 2,
 1514: 3,
 1521: 1,
 1524: 1,
 1527: 1,
 1529: 2,
 1533: 1,
 1552: 2,
 1554: 5,
 1557: 9,
 1574: 2,
 1577: 2,
 1580: 4,
 1583: 4,
 1586: 4,
 1590: 3,
 1595: 1,
 1598: 2,
 1601: 2,
 1604: 1,
 1607: 2,
 1608: 1,
 1610: 1,
 1615: 4,
 1616: 3,
 1621: 4,
 1625: 1,
 1626: 4,
 1627: 2,
 1628: 1,
 1629: 3,
 1632: 1,
 1635: 3,
 1636: 4,
 1645: 4,
 1647: 5,
 1650: 1,
 1651: 2,
 1652: 10,
 1653: 3,
 1654: 4,
 1655: 2,
 1661: 1,
 1670: 1,
 1676: 1,
 1687: 2,
 1688: 1,
 1690: 1,
 1693: 7,
 1694: 5,
 1703: 1,
 1705: 1,
 1706: 1,
 1709: 1,
 1712: 5,
 1716: 1,
 1719: 1,
 1720: 2,
 1728: 2,
 1736: 2,
 1741: 1,
 1748: 1,
 1750: 11,
 1751: 6,
 1752: 1,
 1756: 1,
 1757: 1,
 1758: 1,
 1760: 1,
 1769: 1,
 1770: 1,
 1771: 1,
 1782: 3,
 1784: 2,
 1789: 6,
 1790: 3,
 1795: 2,
 1796: 1,
 1805: 1,
 1807: 1,
 1808: 1,
 1811: 7,
 1817: 2,
 1818: 1,
 1830: 7,
 1852: 1,
 1853: 3,
 1855: 1,
 1859: 4,
 1863: 2,
 2878: 2,
 2882: 3,
 2883: 5,
 2884: 3,
 2885: 1,
 2886: 1,
 2887: 1,
 2889: 2,
 2890: 2,
 2893: 1,
 2896: 1,
 2904: 2,
 2908: 3,
 2910: 1,
 2912: 3,
 2916: 1,
 2926: 1,
 2930: 2,
 2932: 3,
 2937: 4,
 2938: 6,
 2944: 3,
 2946: 2,
 2947: 7,
 2953: 3,
 2955: 7,
 2957: 1,
 2987: 1,
 2990: 5,
 2992: 9,
 3000: 1,
 3003: 2,
 3004: 2,
 3008: 1,
 3014: 1,
 3018: 3,
 3026: 1,
 3050: 1,
 3065: 1,
 3069: 1,
 3085: 1,
 3087: 1,
 3088: 5,
 3094: 2,
 3096: 2,
 3100: 1,
 3121: 5,
 3172: 1,
 3173: 2,
 3174: 1,
 3213: 1,
 3214: 1,
 3217: 6,
 3218: 2,
 3219: 3,
 3220: 1,
 3221: 3,
 3222: 3,
 3224: 1,
 3225: 2,
 3373: 4,
 3375: 3,
 3379: 2,
 3380: 3,
 3383: 2,
 3395: 2,
 3397: 1,
 3399: 42,
 3400: 9,
 3403: 1,
 3416: 2,
 3420: 1,
 3422: 2,
 3430: 2,
 3435: 2,
 3437: 3,
 3440: 7,
 3441: 1,
 3442: 3,
 3443: 3,
 3444: 5,
 3651: 1,
 3669: 1,
 3670: 1,
 3671: 3,
 3702: 2,
 3714: 7,
 3715: 5,
 3717: 5,
 3718: 3,
 3744: 1,
 3752: 1,
 3754: 1,
 3756: 1,
 3758: 1,
 3759: 1,
 3761: 3,
 3762: 6,
 3763: 4,
 3773: 4,
 3776: 1,
 3779: 6,
 3780: 5,
 3790: 1,
 3791: 2,
 3792: 5,
 3794: 1,
 3810: 1,
 3812: 1,
 3820: 1,
 3828: 1,
 3860: 5,
 3861: 6,
 3877: 1,
 3885: 4,
 3891: 2,
 3899: 1,
 3903: 1,
 3904: 9,
 3963: 5,
 3964: 2,
 3967: 1,
 3997: 6,
 3998: 5,
 3999: 5,
 4000: 1,
 4002: 4,
 4003: 3,
 4004: 2,
 4009: 2,
 4029: 1,
 4030: 1,
 4031: 1,
 4035: 1,
 4056: 4,
 4057: 1,
 4059: 2,
 4138: 2,
 4139: 6,
 4140: 1,
 4143: 3,
 4146: 7,
 4161: 2,
 4165: 1,
 4166: 5,
 4167: 4,
 4341: 3,
 4346: 2,
 4347: 1,
 4353: 1,
 4355: 1,
 4378: 4,
 4380: 1,
 4409: 2,
 4410: 1,
 4411: 1,
 4420: 2,
 4430: 2,
 4431: 5,
 4432: 1,
 4433: 4,
 4443: 1,
 4452: 2,
 4453: 2,
 4454: 1,
 4455: 1,
 4469: 1,
 4472: 1,
 4475: 2,
 4490: 1,
 4497: 5,
 4503: 1,
 4527: 3,
 4533: 2,
 4536: 3,
 4541: 1,
 4562: 1,
 4586: 1,
 4590: 1,
 4593: 5,
 4596: 7,
 4597: 1,
 4617: 1,
 4623: 6,
 4625: 1,
 4626: 12,
 4628: 4,
 4630: 1,
 4632: 17,
 4655: 1,
 4657: 8,
 4658: 7,
 4659: 2,
 4666: 2,
 4667: 1,
 4668: 2,
 4670: 1,
 4673: 3,
 4675: 2,
 4676: 1,
 4681: 2,
 4682: 3,
 4683: 3,
 4684: 6,
 4695: 5,
 4696: 1,
 4707: 2,
 4711: 2,
 4712: 1,
 4719: 2,
 4720: 1,
 4745: 2,
 4752: 4,
 4783: 1,
 4785: 1,
 4788: 1,
 4814: 2,
 4817: 8,
 4818: 1,
 4821: 10,
 4829: 1,
 4832: 1,
 4833: 1,
 4838: 1,
 4841: 2,
 4844: 2,
 4846: 1,
 4847: 3,
 4848: 1,
 4852: 3,
 4855: 1,
 4857: 2,
 4859: 1,
 4865: 2,
 4866: 1,
 4875: 7,
 4877: 1,
 4880: 2,
 4882: 2,
 4884: 1,
 4885: 3,
 4891: 1,
 4900: 1,
 4904: 1,
 4917: 1,
 4918: 1,
 4920: 9,
 4923: 5,
 4924: 3,
 4928: 1,
 4929: 4,
 4942: 3,
 4949: 1,
 4950: 1,
 4964: 1,
 4966: 1,
 4980: 5,
 5012: 1,
 5019: 2,
 5020: 1,
 5035: 4,
 5037: 1,
 5038: 1,
 5040: 1,
 5041: 1,
 5044: 1,
 5060: 2,
 5082: 3,
 5093: 2,
 5109: 1,
 5113: 1,
 5114: 3,
 5115: 2,
 5116: 1,
 5120: 1,
 5132: 3,
 5135: 1,
 5139: 2,
 5141: 1,
 5143: 1,
 5163: 3,
 5168: 2,
 5169: 5,
 5178: 3,
 5184: 1,
 5186: 4,
 5188: 4,
 5218: 1,
 5221: 3,
 5222: 1,
 5223: 4,
 5234: 1,
 5235: 1,
 5238: 1,
 5305: 2,
 5315: 1,
 5319: 5,
 5327: 1,
 5357: 1,
 5363: 2,
 5375: 1,
 5403: 1,
 5423: 1,
 5431: 1,
 5445: 2,
 5449: 1,
 5450: 1,
 5451: 1,
 5462: 1,
 5463: 1,
 5467: 2,
 5487: 3,
 5488: 1,
 5515: 3,
 5522: 2,
 5524: 1,
 5543: 2,
 5544: 1,
 5547: 3,
 5548: 2,
 5553: 4,
 5554: 1,
 5576: 1,
 5581: 1,
 5599: 2,
 5627: 1,
 5630: 6,
 5904: 1,
 6065: 2,
 6066: 4,
 6069: 2,
 6070: 3,
 6099: 6,
 6101: 8,
 6102: 2,
 6103: 6,
 6111: 1,
 6119: 2,
 6120: 1,
 6121: 1,
 6124: 1,
 6126: 1,
 6128: 2,
 6129: 1,
 6130: 1,
 6131: 2,
 6335: 1,
 6337: 5,
 6338: 5,
 6339: 1,
 6340: 2,
 6355: 8,
 6357: 15,
 6363: 6,
 6387: 1,
 6388: 8,
 6400: 8,
 6401: 2,
 6430: 3,
 6459: 8,
 6463: 2,
 6476: 1,
 6481: 1,
 6498: 2,
 6506: 2,
 6514: 1,
 6527: 1,
 6547: 5,
 6563: 2,
 6565: 2,
 6567: 1,
 6569: 1,
 6571: 2,
 6589: 1,
 6590: 4,
 6593: 1,
 6650: 3,
 6683: 6,
 6684: 9,
 6688: 14,
 6689: 15,
 6690: 11,
 6699: 1,
 6701: 1,
 6705: 1,
 6710: 2,
 6714: 1,
 6717: 1,
 6819: 1,
 6825: 1,
 6826: 3,
 6828: 1,
 6829: 2,
 6832: 1,
 6846: 2,
 6847: 1,
 6855: 1,
 7003: 1,
 7029: 1,
 7032: 1,
 7052: 1,
 7077: 4,
 7116: 3,
 7117: 3,
 7129: 1,
 7138: 4,
 7161: 1,
 7174: 1,
 7176: 1,
 7178: 2,
 7213: 3,
 7215: 1,
 7217: 1,
 7233: 1,
 7261: 1,
 7263: 1,
 7272: 1,
 7275: 1,
 7276: 2,
 7278: 1,
 7282: 1,
 7310: 1,
 7312: 1,
 7314: 1,
 7318: 3,
 7341: 1,
 7342: 1,
 7352: 1,
 7357: 1,
 7367: 2,
 7368: 1,
 7370: 5,
 7381: 1,
 7382: 3,
 7393: 1,
 7400: 1,
 7474: 1,
 7491: 1,
 7493: 2,
 7530: 1,
 7533: 3,
 7537: 3,
 7543: 10,
 7557: 2,
 7558: 2,
 7561: 3,
 7566: 2,
 7567: 1,
 7568: 3,
 7570: 1,
 7577: 1,
 7606: 1,
 7608: 1,
 7609: 2,
 7610: 1,
 7615: 3,
 7628: 4,
 7635: 1,
 7638: 1,
 7639: 1,
 7650: 1,
 7666: 3,
 7667: 1,
 7676: 1,
 7681: 1,
 7682: 1,
 7698: 1,
 7703: 1,
 7721: 1,
 7726: 2,
 7727: 2,
 7729: 1,
 7775: 1,
 7779: 1,
 7781: 1,
 7802: 1,
 7808: 2,
 7824: 1,
 7855: 6,
 7863: 1,
 7864: 6,
 7869: 1,
 7872: 2,
 7909: 1,
 7967: 1,
 8001: 1,
 8011: 1,
 8013: 1,
 8039: 1,
 8089: 1,
 8103: 1,
 8115: 1,
 8124: 2,
 8125: 1,
 8130: 1,
 8131: 1,
 8134: 2,
 8136: 1,
 8152: 1,
 8153: 1,
 8154: 2,
 8185: 3,
 8186: 1,
 8187: 4,
 8220: 5,
 8221: 2,
 8260: 1,
 8357: 1,
 8358: 2,
 8365: 6,
 8366: 3,
 8368: 3,
 8370: 1,
 8372: 2,
 8397: 1,
 8574: 3,
 8575: 2,
 8576: 2,
 8614: 4,
 8615: 1,
 8617: 1,
 8618: 1,
 8619: 4,
 8621: 8,
 8622: 3,
 8626: 4,
 8628: 2,
 8629: 5,
 8631: 6,
 8634: 1,
 8639: 2,
 8641: 2,
 8642: 8,
 8643: 1,
 8644: 2,
 8645: 2,
 8646: 1,
 8855: 2,
 8860: 4,
 8870: 1,
 8872: 4,
 8875: 1,
 8876: 1,
 8877: 1,
 8881: 1,
 8883: 11,
 8898: 7,
 8914: 1,
 8915: 11,
 8916: 4,
 8917: 1,
 8918: 3,
 8919: 4,
 8920: 3,
 8945: 1,
 8946: 1,
 8955: 2,
 8957: 1,
 8958: 1,
 8962: 4,
 8963: 2,
 8964: 2,
 8965: 1,
 8974: 1,
 8977: 1,
 8978: 2,
 8980: 2,
 8981: 1,
 8992: 7,
 8993: 1,
 8994: 1,
 8995: 1,
 9021: 2,
 9029: 1,
 9030: 1,
 9043: 2,
 9063: 1,
 9067: 1,
 9104: 4,
 9105: 11,
 9161: 2,
 9163: 1,
 9172: 1,
 9206: 6,
 9222: 1,
 9224: 1,
 9231: 1,
 9339: 1,
 9340: 2,
 9341: 2,
 9360: 6,
 9367: 2,
 9541: 1,
 9545: 1,
 9547: 2,
 9556: 3,
 9576: 1,
 9581: 1,
 9583: 1,
 9608: 1,
 9612: 3,
 9614: 1,
 9620: 1,
 9621: 5,
 9624: 1,
 9631: 7,
 9634: 2,
 9637: 1,
 9643: 3,
 9644: 3,
 9654: 5,
 9666: 1,
 9676: 1,
 9693: 1,
 9699: 1,
 9710: 1,
 9728: 8,
 9730: 11,
 9734: 1,
 9739: 3,
 9742: 1,
 9791: 2,
 9793: 1,
 9794: 3,
 9795: 1,
 9818: 1,
 9826: 2,
 9829: 2,
 9831: 2,
 9852: 3,
 9867: 9,
 9868: 2,
 9871: 2,
 9872: 2,
 9877: 1,
 9879: 1,
 9880: 1,
 9883: 2,
 9884: 3,
 9896: 6,
 9897: 2,
 9906: 1,
 9908: 2,
 9946: 2,
 9952: 1,
 9953: 2,
 9989: 5,
 10005: 1,
 10012: 3,
 10022: 3,
 10027: 1,
 10047: 4,
 10048: 6,
 10059: 2,
 10060: 7,
 10061: 1,
 10076: 7,
 10078: 1,
 10081: 2,
 10083: 5,
 10084: 2,
 10085: 3,
 10086: 2,
 10092: 3,
 10101: 2,
 10116: 4,
 10118: 2,
 10123: 3,
 10124: 1,
 10125: 1,
 10127: 1,
 10130: 1,
 10143: 3,
 10159: 1,
 10160: 8,
 10165: 4,
 10166: 1,
 10167: 1,
 10187: 1,
 10199: 4,
 10200: 7,
 10201: 5,
 10202: 2,
 10234: 2,
 10238: 3,
 10241: 3,
 10242: 2,
 10245: 1,
 10290: 1,
 10312: 1,
 10315: 7,
 10317: 1,
 10321: 1,
 10333: 1,
 10336: 3,
 10344: 2,
 10368: 1,
 10369: 2,
 10370: 3,
 10375: 1,
 10378: 4,
 10379: 1,
 10383: 1,
 10389: 3,
 10419: 1,
 10482: 3,
 10483: 5,
 10500: 1,
 10503: 1,
 10504: 1,
 10506: 1,
 10520: 1,
 10524: 2,
 10525: 1,
 10528: 1,
 10560: 1,
 10564: 3,
 10566: 1,
 10603: 2,
 10639: 1,
 10645: 3,
 10646: 2,
 10662: 2,
 10686: 1,
 ...}

In [26]:
c1

        item           rating  frequency
0         23              [1]          1
1        138  [1, 1, 1, 1, 1]          5
2        139           [1, 1]          2
3        140           [1, 1]          2
4        144           [1, 1]          2
...      ...              ...        ...
4065  349681           [1, 1]          2
4066  349848              [1]          1
4067  351899        [1, 1, 1]          3
4068  351915        [1, 1, 1]          3
4069  355115           [1, 1]          2

[4070 rows x 3 columns]

In [18]:
extractdf

       Skcode    item rating
0     SK22543  287244      1
0     SK22543  189040      1
1     SK22543  189040      1
1     SK22543  189790      1
1     SK22543  189913      1
...       ...     ...    ...
3246  SK16372  144421      1
3246  SK16372  231439      1
3246  SK16372  305113      1
3246  SK16372  318960      1
3247   SK9752    3651      1

[10851 rows x 3 columns]