# RecSys 2  Filtering on warehouseid

In [10]:
import pandas as pd
from pymongo import MongoClient 
from collections import defaultdict
from operator import itemgetter

In [11]:
itemid = 10639
number = 20
wid = 7

In [12]:
citem = int(itemid)
number = int(number)
l=[]
l1=[]
conn = MongoClient('192.168.1.101', 27017)
mydb = conn.ankit_database
collection = mydb.RecSysItem
collection1 = mydb.ItemWarehouse

dfw = pd.DataFrame(list(collection1.find({ 'WarehouseId' :wid })))

In [13]:

lw = dfw.iloc[0,2]

df1 = pd.DataFrame(list(collection.find( { 'itemid' :1 })))
df2 = df1.drop(['_id' , 'itemid'], axis = 1)
df3 = df2.sort_values(0, axis=1, ascending=False, inplace=False, kind='quicksort', na_position='last')
l1 = list(df3.columns.values)

#lcolumn = list(df1.columns.values)
#lcolumn = lcolumn[:-2]
#lcolumn = lcolumn[2:]
l1 = [int(i) for i in l1]



if (citem in l1):  
    df = pd.DataFrame(list(collection.find( { 'itemid' : citem })))
    df12 = df.drop(['_id' , 'itemid'], axis = 1)
    df13 = df12.sort_values(0, axis=1, ascending=False, inplace=False, kind='quicksort', na_position='last')
    l12 = list(df13.columns.values)
    l12 = [int(i) for i in l12]
    pos=0
    for itemID in l12:
        if ((itemID != citem) & (itemID in lw) ):
            l.append(itemID)
            pos += 1
            if (pos > number-1):
                break
        l = [int(i) for i in l]  
    #return tuple(l)

else:
    for i in l1:
        if (i in lw):
            l.append(i)

        if (len(l) > number):
            break
   # return tuple(l)

In [24]:
df12

,600,602,604,872,873,875,868,1017,1019,895,...,298170,261306,75618,11463,262337,319014,202525,298146,262355,144068
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [209]:
l

[23532,
 9728,
 23512,
 9644,
 23502,
 23922,
 23492,
 8872,
 31937,
 8915,
 8621,
 8883,
 8898,
 9016,
 10378,
 10086,
 35134,
 38126,
 8916,
 92507]

In [161]:
l12

15008

In [162]:
len(lw)

1160

In [179]:
l =[]
citem =1

In [180]:
pos = 0
for itemID in l12:
    if ((itemID != citem) & (itemID in lw) ):
        l.append(itemID)
        pos += 1
        if (pos > number-1):
            break
    l = [int(i) for i in l]

In [181]:
l

[10044,
 10053,
 10179,
 10187,
 10459,
 10506,
 10509,
 11077,
 11314,
 11409,
 11072,
 11546,
 23533,
 12790,
 23653,
 23743,
 23893,
 23833,
 23633,
 31641]

In [99]:
l

[600, 602, 604, 601, 707, 684, 701, 702, 709, 685]

In [11]:
citem = int(itemid)
number = int(number)
l=[]
l1=[]
conn = MongoClient('192.168.1.101', 27017)
mydb = conn.ankit_database
collection = mydb.RecSysItem
collection1 = mydb.ItemWarehouse

In [12]:
df = pd.DataFrame(list(collection1.find({ 'WarehouseId' :1 })))

In [13]:
df

,_id,WarehouseId,item
0,5e2a8b666fc9189d3b47a5df,1,"[0, 1, 2, 6, 23, 48, 49, 50, 51, 52, 53, 54, 5..."

In [17]:
l = df.iloc[0,2]

In [19]:
len(l)

1732

In [357]:
df1 = pd.DataFrame(list(collection.find({ 'itemid' :1 })))
df2 = df1.drop(['_id' , 'itemid'], axis = 1)

In [358]:
df3 = df2.sort_values(0, axis=1, ascending=False, inplace=False, kind='quicksort', na_position='last')
l1 = list(df3.columns.values)

In [343]:


#lcolumn = list(df1.columns.values)
#lcolumn = lcolumn[:-2]
#lcolumn = lcolumn[2:]
lcolumn = [int(i) for i in lcolumn]

In [351]:
l=[]
df = pd.DataFrame(list(collection.find( { 'itemid' : citem })))
df1 = df.drop(['_id' , 'itemid'], axis = 1)
lcolumn = list(df1.columns.values)
lcolumn = [int(i) for i in lcolumn]
lvalue = list(df1.iloc[0])
mapped = zip(lcolumn , lvalue)
lis = list(mapped)
candidates = defaultdict(float)

for itemid, score in lis:
    candidates[itemid] = score

pos = 0
for itemID, ratingSum in sorted(candidates.items(), key=itemgetter(1), reverse=True):
    if (itemID != citem ):
        l.append(itemID)
        pos += 1
        if (pos > number-1):
            break
        #l = [int(i) for i in l]

In [352]:
df1

,600,602,604,872,873,875,868,1017,1019,895,...,298170,261306,75618,11463,262337,319014,202525,298146,262355,144068
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [1]:
# sorted(candidates.items(), key=itemgetter(1), reverse=True)

In [287]:
citem = int(itemid)
number = int(number)
l=[]
l1=[]
conn = MongoClient('192.168.1.101', 27017)
mydb = conn.ankit_database
collection = mydb.RecSysItem

df1 = pd.DataFrame(list(collection.find({ 'itemid' :1 })))
df2 = df1.drop(['_id' , 'itemid'], axis = 1)

df3 = df2.sort_values(0, axis=1, ascending=False, inplace=False, kind='quicksort', na_position='last')
l1 = list(df3.columns.values)

#lcolumn = list(df1.columns.values)
#lcolumn = lcolumn[:-2]
#lcolumn = lcolumn[2:]
lcolumn = [int(i) for i in lcolumn]

In [288]:
if (citem in lcolumn):
    df = pd.DataFrame(list(collection.find( { 'itemid' : citem })))
    df1 = df.drop(['_id' , 'itemid'], axis = 1)
    lcolumn = list(df1.columns.values)
    lcolumn = [int(i) for i in lcolumn]
    lvalue = list(df1.iloc[0])
    mapped = zip(lcolumn , lvalue)
    lis = list(mapped)
    candidates = defaultdict(float)

    for itemid, score in lis:
        candidates[itemid] = score

    pos = 0
    for itemID, ratingSum in sorted(candidates.items(), key=itemgetter(1), reverse=True):
        if (itemID != citem ):
            l.append(itemID)
            pos += 1
            if (pos > number-1):
                break
            l = [int(i) for i in l]  


else:
    l = l1[:number]
    l = [int(i) for i in l]

In [289]:
l

[164, 669, 767, 768, 436, 1294, 1197, 580, 728, 205]